# Eclipse stuff
/eclipse
/.classpath
/.project
/.settings
/.metadata
/bin

## gradle 
/.gradle 
/build 
/gradle 
/gradlew 
/gradlew.bat 

# netbeans
nbproject

# maven
/*/target/

# gradle
.gradle/
/build

## ForgeGradle
/run

# vim
.*.sw[a-p]

# various other potential build files
/*/build/
/buildassets/map_*.txt
/*/bin/
/*/dist/
/*/manifest.mf
/release

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
/.idea
/out
/atlassian-ide-plugin.xml

## Private Stuffs
/private.properties